{% extends 'layout/basic.html' %}
{% load static %}
{% block title %}
    用户登录
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}
{% block content %}
    <div class="account">
        <div class="title">用户登录</div>
        <form  method="POST" novalidate>
            {% csrf_token %}
            {% for field in form %}
                {% if field.name == 'code' %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <div class="clearfix">
                            <div class="col-md-7" style="padding-left: 0">
                                {{ field }}
                                <span class="error-msg">{{ field.errors.0}}</span>
                            </div>
                            <div class="col-md-5">
{#                                <img src="" alt="">#}
                                <img src="{% url 'img_code' %}" id="imageCode" title="点击更换验证码" alt="">
                            </div>
                        </div>

                    </div>
                {% else %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        <span class="error-msg">{{ field.errors.0 }}</span>
                    </div>
                {% endif %}
            {% endfor %}
        <div style="float: right;">
            <div>
                <a href="{% url 'login_sms' %}">使用短信登录？</a>
            </div>
        </div>
            <div class="row">
                <div class="col-md-3">
                    <input type="submit" class="btn btn-primary" id="btnSubmit" value="登录"/>
                </div>
            </div>

        </form>
    </div>

{% endblock %}
{% block js %}
    <script>
        $('#imageCode').click(function () {
            var oldSrc = $(this).attr('src');
            // 通过加问号，相当于重新请求了一下页面
            $(this).attr('src',oldSrc+'?');
        })
    </script>
{% endblock %}